<div id="inventory" class="inventory">
    <header>
        <h1 class="title">Inventory</h1>
    </header>
    <main class="item-container">
        {{player.inventory}}
        {{#each inventory.item as |item|}}
        {{/each}}
    </main>
</div>